:root{
  --whiteColor: hsl(0, 0%, 100%);
--lightGray: hsl(212, 45%, 89%);
--grayishBlue: hsl(220, 15%, 55%);
--darkBlue: hsl(218, 44%, 22%);
}
*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body,html{
  height: 100%;
  font-family: 'Outfit', sans-serif;
}
body{
  background: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
  color: var(--grayishBlue);
}
h3{
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--darkBlue);
}
img{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.attribution { font-size: 10px; text-align: center;
margin-bottom: -10px;}
.attribution a { color: hsl(228, 45%, 44%); }

.main{
width: 290px;
background: var(--whiteColor);
padding: 15px;
border-radius: 15px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.text{
  width: 90%;
}